<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CH Gas MInh Thông</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">
        function xoahaykhong(tinnhan){
            if(window.confirm(tinnhan)==true){
                return true;
            }
            return false;
        }
    </script>

</head>
<body>
    <div class="top">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mtren">
            <div class="container fontgoo">
                <a class="navbar-brand logo" href="/">Minh Thông</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 mphai">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Thông báo</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tra cứu</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">Tổng kết </a>
                                <a class="dropdown-item" href="/users">Nhiên liệu</a>
                            </div>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-danger nutsignup" href="#">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav><!-- het nav -->
